In [225]:
#Import required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import math 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split
from sklearn import metrics
np.random.seed(0)

In [226]:
#Read Excel sheet and Generate Dataframe object

df = pd.read_excel('data_science_sample_data_v2.xlsx')
pd.set_option('display.max_columns', 24)
#pd.set_option('display.max_rows', 650)
df.columns

Index(['Application_ID', 'Current City', 'Python (out of 3)',
       'R Programming (out of 3)', 'Data Science (out of 3)', 'Other skills',
       'Institute', 'Degree', 'Stream', 'Current Year Of Graduation',
       'Performance_PG', 'Performance_UG', 'Performance_12', 'Performance_10'],
      dtype='object')

In [227]:
#Rename required column names

df.rename(columns = {"Python (out of 3)": "Python", 
                    "R Programming (out of 3)":"R",
                    "Data Science (out of 3)":"DS",
                    "Current Year Of Graduation": "Gr_Year",
                    "Performance_PG": "Per_PG",
                    "Performance_UG": "Per_UG",
                    "Performance_12": "Per_12",
                    "Performance_10": "Per_10",
                  },inplace = True)

In [228]:
#Clear Records of Degree Column

degree_array = ['Bachelor of Engineering (B.E)','Bachelor of Technology (B.Tech)','Integrated M.Tech',
               'PG Diploma in Data Science','Bachelor of Science (B.Sc)','Master of Computer Applications (MCA)',
               'B.Tech (Hons.)','Integrated MCA','Master of Arts (M.A.)','Bachelor of Commerce (B.Com)',
               'Post Graduate Programme (PGP)','Master of Statistics (M.Stat)','Master of Technology (M.Tech)',
               'Master of Science (M.Sc)']

def replace_degree_values(t_df):
    tmp_lst = []
    for i in range(len(df)):
        if t_df.Degree[i] == degree_array[0]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[0],'BE'))
        elif t_df.Degree[i] == degree_array[1]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[1],'BTech'))
        elif t_df.Degree[i] == degree_array[2]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[2],'MTech'))
        elif t_df.Degree[i] == degree_array[3]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[3],'PG_DS'))
        elif t_df.Degree[i] == degree_array[4]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[4],'BSc'))
        elif t_df.Degree[i] == degree_array[5]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[5],'MCA'))
        elif t_df.Degree[i] == degree_array[6]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[6],'BTech'))
        elif t_df.Degree[i] == degree_array[7]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[7],'MCA'))
        elif t_df.Degree[i] == degree_array[8]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[8],'MA'))
        elif t_df.Degree[i] == degree_array[9]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[9],'BCom'))
        elif t_df.Degree[i] == degree_array[10]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[10],'PGP'))
        elif t_df.Degree[i] == degree_array[11]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[11],'MStat'))
        elif t_df.Degree[i] == degree_array[12]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[12],'MTech'))
        elif t_df.Degree[i] == degree_array[13]:
            tmp_lst.append(t_df.Degree[i].replace(degree_array[13],'MSc'))
        else:
            tmp_lst.append('NaN')
    return tmp_lst

In [229]:
#Add New calculated columns for degree

degree = pd.DataFrame(replace_degree_values(df))
df['degree'] = degree
df['degree']

0         BE
1        NaN
2      BTech
3      MTech
4         BE
       ...
606       BE
607    PG_DS
608    BTech
609      BSc
610    MTech
Name: degree, Length: 611, dtype: object

In [230]:
#Weightage on Degree

def degree_weightage(tmp_df):
    weightage_lst = []
    for i in range(len(tmp_df)):
        if (tmp_df['degree'][i] == 'BTech') or (tmp_df['degree'][i] == 'BE'):
            if tmp_df['Gr_Year'][i] == 2020:
                weightage_lst.append(10)
            elif tmp_df['Gr_Year'][i] == 2019:
                weightage_lst.append(8)
            elif tmp_df['Gr_Year'][i] <= 2018:
                weightage_lst.append(5)
            else:
                 weightage_lst.append(0)
        elif (tmp_df['degree'][i] == 'MSc') or (tmp_df['degree'][i] == 'MTech'):
            if tmp_df['Gr_Year'][i] == 2020:
                weightage_lst.append(7)
            elif tmp_df['Gr_Year'][i] <= 2019:
                weightage_lst.append(3)
            else:
                 weightage_lst.append(0)
        else:
            weightage_lst.append(0)
    return weightage_lst

In [231]:
#Add New column for weightage on degree

degree_lst = pd.DataFrame(degree_weightage(df))
df['degree_weight'] = degree_lst

In [232]:
#Weightage on Python Skill

skill_list = ['Python','R','DS']

def skill_weightage(df, skill):
    python_lst = []
    
    if skill == skill_list[0]:
        for i in range(len(df)):
            if df['Python'][i] == 3:
                python_lst.append(10)
            elif df['Python'][i] == 2:
                python_lst.append(7)
            elif df['Python'][i] == 1:
                python_lst.append(3)
            else:
                python_lst.append(0)
        return python_lst
    elif skill == skill_list[1]:
        for i in range(len(df)):
            if df['R'][i] == 3:
                python_lst.append(10)
            elif df['R'][i] == 2:
                python_lst.append(7)
            elif df['R'][i] == 1:
                python_lst.append(3)
            else:
                python_lst.append(0)
        return python_lst
    elif skill == skill_list[2]:
        for i in range(len(df)):
            if df['DS'][i] == 3:
                python_lst.append(10)
            elif df['DS'][i] == 2:
                python_lst.append(7)
            elif df['DS'][i] == 1:
                python_lst.append(3)
            else:
                python_lst.append(0)
        return python_lst

In [233]:
#Add New column of Weightage for Python, R & DS skills

Py_lst = pd.DataFrame(skill_weightage(df,'Python'))
R_lst = pd.DataFrame(skill_weightage(df,'R'))
DS_lst = pd.DataFrame(skill_weightage(df,'DS'))
df['python_weight'] = py_lst
df['r_weight'] = R_lst
df['ds_weight'] = DS_lst

In [234]:
#Function to calculate weightage on Other skills

Other_skill = ['Machine Learning','Deep Learning','Natural Language Processing (NLP)','Statistical Data Analysis',
              'AWS','SQL/NoSQL','SQL','NoSQL','Excel','MS-Excel']

def other_skill_weightage(df):
    lst = []
    for i in range(len(df)):
        #print(df['Other skills'][i])
        if not pd.isna(df['Other skills'][i]):
            str = df['Other skills'][i].split(',')
        #print(str)
        n = 0
        for k in range(len(str)):

            if (str[k].lstrip() == Other_skill[0]):
                n += 3
            elif (str[k].lstrip() == Other_skill[1]):
                n += 3
            elif (str[k].lstrip() == Other_skill[2]):
                n += 3
            elif (str[k].lstrip() == Other_skill[3]):
                n += 3
            elif (str[k].lstrip() == Other_skill[4]):
                n += 3
            elif (str[k].lstrip() == Other_skill[5] or str[k].lstrip() == Other_skill[6] or str[k].lstrip() == Other_skill[7]):
                n += 3
            elif (str[k].lstrip() == Other_skill[8] or str[k].lstrip() == Other_skill[9]):
                n += 3
        lst.append(n)
    return lst

In [235]:
#Add New column of Other skill weightage count

other_skill_lst = pd.DataFrame(other_skill_weightage(df))
df['otherskill_weight'] = other_skill_lst

In [236]:
#Function to calculate Total weightage

def total_weightage(df):
    temp_list = []
    for i in range(len(df)):
        total = df['degree_weight']+df['python_weight']+df['r_weight']+df['ds_weight']+df['otherskill_weight']
        temp_list.append(total)
    return total

In [237]:
#Add New column of Total weightage

total_weight = pd.DataFrame(total_weightage(df))
df['total_weightage'] = total_weight

In [238]:
#Function to identify candidate is shortlisted or not based on given criteria (More than 40)

def shortlisted_or_not(df):
    lst1 = []
    count = 0
    for i in range(len(df)):
        if df['total_weightage'][i] >= 40:
            lst1.append(1)
            count += 1
        else: 
            lst1.append(0)
    print('Total shortlisted :', count)
    return lst1

In [239]:
result = pd.DataFrame(shortlisted_or_not(df))
df['Result'] = result
df

Total shortlisted : 21

,Application_ID,Current City,Python,R,DS,Other skills,Institute,Degree,Stream,Gr_Year,Per_PG,Per_UG,Per_12,Per_10,degree,degree_weight,python_weight,r_weight,ds_weight,otherskill_weight,total_weightage,Result
0,DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN,BE,8,3,0,10,9,30,0
1,DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN,NaN,0,7,3,7,6,23,0
2,DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40,BTech,5,7,0,0,0,12,0
3,DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00,MTech,0,7,0,7,9,23,0
4,DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN,BE,5,7,0,0,6,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,DS0607,Pune,2,2,2,"AutoCAD, MS-Excel, Deep Learning, Machine Lear...",Defour Analytics,Bachelor of Engineering (B.E),Data Science,2020,NaN,9.00/10,NaN,NaN,BE,10,7,7,7,12,43,1
607,DS0608,Bangalore,1,0,0,"MS-Excel, HTML, Python, SQL",International Institute Of Information Technology,PG Diploma in Data Science,Data Science,2020,NaN,NaN,NaN,NaN,PG_DS,0,3,0,0,6,9,0
608,DS0609,Delhi,2,2,0,"Data Analytics, Machine Learning, Natural Lang...",Quantum University,Bachelor of Technology (B.Tech),Mechanical Engineering,2016,NaN,61.00/100,67.00/67.00,NaN,BTech,5,7,7,0,9,28,0
609,DS0610,Bangalore,3,2,2,"Data Analytics, Machine Learning, Python, C Pr...","College Of Applied Science IHRD, Malampuzha",Bachelor of Science (B.Sc),Computer Science And Mathematics,2018,NaN,NaN,NaN,NaN,BSc,0,10,7,7,12,36,0
610,DS0611,Thrissur,2,2,0,"Computer Vision, Data Analytics, Image Process...",Amrita,Master of Technology (M.Tech),E Learning Technologies,2016,7.15/10,NaN,84.00/84.00,80.00/80.00,MTech,3,7,7,0,6,23,0

In [240]:
#Remove Extra columns 
final_df = df.drop(['Application_ID','Current City','Python','R','DS','Other skills','Institute','Degree','Stream',
                   'Per_PG','Per_UG','Per_12','Per_10','degree'], axis=1)
final_df

,Gr_Year,degree_weight,python_weight,r_weight,ds_weight,otherskill_weight,total_weightage,Result
0,2019,8,3,0,10,9,30,0
1,2020,0,7,3,7,6,23,0
2,2018,5,7,0,0,0,12,0
3,2021,0,7,0,7,9,23,0
4,2018,5,7,0,0,6,18,0
...,...,...,...,...,...,...,...,...
606,2020,10,7,7,7,12,43,1
607,2020,0,3,0,0,6,9,0
608,2016,5,7,7,0,9,28,0
609,2018,0,10,7,7,12,36,0
610,2016,3,7,7,0,6,23,0

In [241]:
#Implement Logistic Algorithm to predict (ML Alogorithm)

def shortlist_logistic(df):
    
    x = df.iloc[:, df.columns != 'Result']
    y = df[df.columns[-1]]
    
    from sklearn.model_selection import train_test_split
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 0)
    
    logistic = LogisticRegression()
    
    logistic.fit(x_train, y_train)
    
    y_pred = logistic.predict(x_test)
    
    score = logistic.score(x_test, y_test)

    print("Accuracy Score : ",score*100)
    
    conf = confusion_matrix(y_test, y_pred)
    print("\nConfusion Matrix :\n", conf)

In [242]:
#Function call for 'Data Scientist' Job profile.
print("Data scientist job profile Predictions :\n")
shortlist_logistic(final_df)

Data scientist job profile Predictions :

Accuracy Score :  98.91304347826086

Confusion Matrix :
 [[176   0]
 [  2   6]]

/Users/baps/Documents/Anaconda3_env/anaconda3/envs/tensorflow_env/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)